body{
    margin: 50px calc(10% - 20px);
	background-image: url("afb/background.jpg");
	background-attachment: fixed;
}
#top{
    background-color: #A1887F;
    padding: 10px;
    min-width: 300px;
    min-height: 100px;
	border-radius: 25px 25px 0 0;
}
#login{
    margin: 20px auto;
}
#ad{
    width: 100%;
    bottom: 0px;
    height:100px;
}

#text{
    background-color: #F9FBE7;
    min-height: 800px;
    min-width: 320px;
    padding: 70px 20px;
	margin: 0 0 100px 0;
}
#logo img{
	width: 200px;
	height: 50px;
}
#wiezijnwij{
	width: 70%;
	float: left;
	display: block;
	min-height: 250px;
}
#img_wiezijnwij{
	float: left;
	width: 30%;
	min-width: 200px;
}
#locatie{
	float: left;
	min-width:150px;
	width:calc(100% - 400px);
}
#locatieframe{
	float: left;
}
#product{
	width: 100%;
	min-height: 700px;
}
#productImg{
	width: 40%;
	display: block;
	float: left;
	margin: 0 50px 0 0;
	border: 5px solid #795548;
}
#product h1 odd{
	margin: 50px;
	display: block;
	float: left;
}
#productinfo{
	width: 40%;
	display: block;
	float: left;
}
#voorraad{
	font-weight: bold;
	margin: 15px 0 0 0px;
	width: 120px;
	height: 50px;
	display: block;
	float: left;
}
#gerelateerd{
	width: 100%;
	min-height: 500px;
}
.gerelateerdItem{
	width: 25%;
	border: 5px solid #795548;
	margin: 2%;
	padding: 1%;
	float: left;
	display: block;
}
.gerelateerdItem img{
	width: 100%;
}
#koopdan{
	height: 50px;
	float: left;
	width: 410px;
}
/*------------------------------------------------*/
/*  PRODUCTOVERZICHT							  */
/*------------------------------------------------*/

	#bovensteform{
		width:100%;	
		padding: 0 0 1% 0;
		padding:0 0 0 40%;
	}

	#aantalperpagina{
		width:100%;
		border:none;
		padding:0 0 0 12.5%;
	}

	#subcategorie{
		width:15%;
		border: 1px solid black;
		height:100%;
		text-align:center;
	}

	#subcategorie-tabel{
		border:1px 0 0 0;
	}

	 #productenoverzicht{
		 width:85%;
		
	 }
	 
	 .productenintabel{
		 padding: 2% 14% 1% 2%;
		 border: 1px solid black;
	 }
 

/*------------------------------------------------*/
/*  ALS KLEINER DAN 1200px						  */
/*------------------------------------------------*/
@media screen and (max-width: 1199px){
	
	#navigatie{
		background-color: #F9FBE7;
		font-size: 150%;
		padding: 5px calc(10% + 20px) 1px calc(10% + 20px);
	}

	#navigatie li{
		min-width: 200px;
		list-style: none;
		background: #9E9E9E; 
		border-style: solid;
		border-width: 5px 5px 5px 5px;
		border-color: #3F51B5;
		padding: 10px 0px 10px 0px;
		text-align: center;
		margin: 0 50px 0 0;
	}

	#navigatie a{
		color: #01579B;
		text-decoration: none;
		display: block;
	}
	.dropdown-content{
		width: 200px;
		margin-left: calc(50% - 100px);
		border-width: 5px 0px 5px 0px; 
		border-style: solid;
		border-color: #3F51B5;
	}
}

/*------------------------------------------------*/
/*  ALS GROTER DAN 1199px						  */
/*------------------------------------------------*/
@media screen and (min-width: 1200px) {
	
	#content{
		float: left;
		width: calc(100% - 200px)
	}
	#ad{
		position: fixed;
		margin-right: calc(10% - 20px);
		margin-top: 170px;
		width: 200px;
		height: 400px;
		top:0px;
		right:0px;
		background-image: url("afb/kfc.jpg");
		background-size: cover;
	}
	#ad img{
		width: 200px;
		height: 400px;
	}
	#logo{
		float: left;
	}
	#login{
		float: right;
		margin-top: 0;
		margin-right: 50px;
		margin-left: 0px;
	}

	#logo img{
		width: 300px;
		height: 100px;
	}

	/*------------------------------------------------*/
	/*  NAVIGATIE									  */
	/*------------------------------------------------*/

	#navigatie{
		font-size: 150%;
		position: absolute;
		display:block;
		margin: 0 -30px;
		padding: 0;
		width: calc(80% - 150px);
		float: left;
	}

	#navigatie li{
		border-radius: 25px 25px 0 0;
		list-style: none;
		background: #9E9E9E; 
		border-style: solid none solid none;
		border-width: 0px 0px 5px 0px;
		border-color: #3F51B5;
		padding: 10px 0px 10px 0px;
		text-align: center;
		float:left;
		width: 20%;
	}

	#navigatie a{
		color: #01579B;
		text-decoration: none;
		display: block;
		border-style: solid none solid none;
		border-width: 0px;
		border-color: #3F51B5;
	}


	#navigatie li:hover a{
		color: #9E9E9E;
		border-color: #3F51B5;
	}
	#navigatie li:hover{
		background: #3F51B5;
	}
	.dropdown-content{
		display: none;
		border-width: 15px 5px 0px 5px; 
		border-style: solid;
		border-color: #3F51B5;
	}

	.dropdown:hover .dropdown-content{
		display: block;
		background: #9E9E9E;
	}
	.dropdown-content a{
		color: #3F51B5 !important;
	}
	.dropdown-content a:hover{
		color: #9E9E9E !important;
		background-color: #3F51B5;
	}
}

